### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.target/
.project

# manifest.mf
MANIFEST.MF

# ignore properties file

pom.properties

target
/target/
.springBeans
pom.properties
MANIFEST.MF
*.log
.factorypath
settings.json
