<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.calendarMapper">
<!-- 	달력 -->
	<select id="getCalendarList" resultType="com.itwillbs.domain.CalendarDTO">
		SELECT *
		FROM calendar
	</select>
<!-- 	매출 차트 -->
	<select id="getSalesList" resultType="com.itwillbs.domain.ChartDTO">
		SELECT company as label, value as data
		FROM pie_chart
	</select>
<!-- 	재고 완재품 차트 -->
	<select id="getStockList" resultType="com.itwillbs.domain.ChartDTO">
		SELECT stock_name as label, count as data
		FROM stock_chart
	</select>
<!-- 	실적 차트 -->
	<select id="getPerfList" resultType="com.itwillbs.domain.ChartDTO">
		SELECT  DATE_FORMAT(perfdate, '%Y-%m-%d') as label, count as data
		FROM perf_chart
		ORDER BY perfdate asc
	</select>
	
	<insert id="insertSellCalendar">
		Insert INTO calendar
		VALUES (default, #{calendar_title}, #{calendar_memo}, #{startDate}, #{endDate}, #{code})
	</insert>
	
	<select id="getClient" resultType="com.itwillbs.domain.ClientDTO">
		SELECT *
		FROM Clients
	</select>
</mapper>