<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace = "com.itwillbs.Mappers.EmployeesMapper">
  
  <insert id="insertEmployees">
  	insert into employees(empId,empPass,empName,empDepartment,empPosition,empEmail,empTel,empHiredate,empState,empFile)
  	values(#{empId},#{empPass},#{empName},#{empDepartment},#{empPosition},#{empEmail},#{empTel},#{empHiredate},#{empState},#{empFile})
  </insert>
  
  <select id="getEmployeesList" resultType="com.itwillbs.domain.EmployeesDTO">
  	select * from employees 
  	where 1=1
  	<if test="search != null and search != ''">
            and (empName like concat('%', #{search}, '%') or empId like concat('%', #{search}, '%') or empPass like concat('%', #{search}, '%') or empDepartment like concat('%', #{search}, '%') or empPosition like concat('%', #{search}, '%') or empEmail like concat('%', #{search}, '%') or empTel like concat('%', #{search}, '%') or empState like concat('%', #{search}, '%') or empHiredate like concat('%', #{search}, '%'))
        </if>
  	order by empId desc limit #{startRow}, #{pageSize}
  </select>
  
  <select id="getEmployeesCount" resultType="java.lang.Integer">
  	select count(*) from employees
  	where 1=1
  	<if test="search != null and search != ''">
            and (empName like concat('%', #{search}, '%') or empId like concat('%', #{search}, '%') or empPass like concat('%', #{search}, '%') or empDepartment like concat('%', #{search}, '%') or empPosition like concat('%', #{search}, '%') or empEmail like concat('%', #{search}, '%') or empTel like concat('%', #{search}, '%') or empState like concat('%', #{search}, '%') or empHiredate like concat('%', #{search}, '%'))
        </if>
  </select>
  
  <!--  회원 삭제  -->
  <delete id="delete">
        delete from employees
        where empId = #{empId}
  </delete>
  
  <select id="getMember" resultType="com.itwillbs.domain.EmployeesDTO">
  	select * from employees where empId = #{empId}
  </select>
  
  <update id="updateEmployees">
  	update employees set empId = #{empId}, empPass = #{empPass}, empName = #{empName}, empDepartment = #{empDepartment}, empPosition = #{empPosition}, empEmail = #{empEmail}, empTel = #{empTel}, empHiredate = #{empHiredate}, empState = #{empState}
  	where empId = #{empId}
  </update>
  
  <select id="existsById" resultType="boolean">
  	select count(*) > 0 from employees where empId = #{empId}
  </select>
  
  <select id="getEmployeesList2" resultType="com.itwillbs.domain.EmployeesDTO">
  	select * from employees
  </select>  
  
  
  
  
  
  
  </mapper>