<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.inMaterialMapper">

	<select id="getInMaterialList" resultType="com.itwillbs.domain.InMaterialDTO">
		select i.inNum, i.byNum, i.whseCoed, i.clientCompany
			i.rawCode, r.rawName, i.inCount
			i.rawPrice
			i.inDate, i.inEmpId
		from inMaterial i join rawMaterial r
		on i.rawCode = r.rawCode
	</select>

</mapper>