<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.inMaterialMapper">

	 <select id="getInMaterialList" resultType="com.itwillbs.domain.InMaterialDTO">
	 
	SELECT i.inNum, i.buyNum, r.whseCode, c.clientCompany,
	i.rawCode, r.rawName, i.inCount, s.stockCount,
	r.rawPrice, i.inPrice, i.inDate, i.inEmpId, i.inState
	FROM inMaterial i join rawMaterial r
	on i.rawCode = r.rawCode
	join stock s
	on i.rawCode = s.rawCode
	join clients c
	on i.clientCode = c.clientCode
	order by i.inNum desc
	limit #{startRow}, #{pageSize}
	
	</select>
	

</mapper>