<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mappers.ModalMapper">
  
<!-- 품목관리 리절트 맵 -->
	<resultMap id="prod" type="com.itwillbs.domain.ProdDTO">
<result property="prodCode" column="prodCode" />
		<result property="prodName" column="prodName" />
		<result property="prodUnit" column="prodUnit" />
		<result property="prodSize" column="prodSize" />
		<result property="prodPerfume" column="prodPerfume" />
		<result property="clientCode" column="clientCode" />
		<result property="whseCode" column="whseCode" />
		<result property="prodPrice" column="prodPrice" />
		<result property="prodMemo" column="prodMemo" />		
	</resultMap>
	
	
	<!-- 품목 정보(String prodName) -->
	<select id="modalprod" resultType="ProdDTO" resultMap="prod"> 
		select *
		from product
		where prodCode = #{prodCode}
	</select>
	<resultMap id="raw" type="com.itwillbs.domain.RawmaterialsDTO">
		<result property="rawCode" column="rawCode" />
		<result property="rawName" column="rawName" />
		<result property="rawType" column="rawType" />
		<result property="rawUnit" column="rawUnit" />
		<result property="rawPrice" column="rawPrice" />
		<result property="clientCode" column="clientCode" />
		<result property="whseCode" column="whseCode" />
		<result property="rawMemo" column="rawMemo	" />	
		
	</resultMap>
	<select id="modalraw" resultType="RawmaterialsDTO" resultMap="raw"> 
		select *
		from rawMaterial
		where rawCode = #{rawCode}
	</select>
  
  
  <resultMap id="sell" type="com.itwillbs.domain.SellDTO">
		<result property="sellCode" column="sellCode" />
		<result property="sellDate" column="sellDate" />
		<result property="sellDuedate" column="sellDuedate" />
		<result property="sellEmpId" column="sellEmpId" />
		<result property="sellCount" column="sellCount" />
		<result property="sellPrice" column="sellPrice" />
		<result property="prodCode" column="prodCode" />
		<result property="prodName" column="prodName" />	
		<result property="sellMemo" column="sellMemo" />	
		<result property="sellState" column="sellState" />	
		<result property="clientCompany" column="clientCompany" />	
		<result property="clientCode" column="clientCode" />	
		
	</resultMap>
	<select id="modalsell" resultType="SellDTO" resultMap="sell"> 
		select *
		from sell
		where sellCode = #{sellCode}
	</select>
  </mapper>