<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.itwillbs.mappers.PerformanceMapper">
 
 
  <insert id="perfinsert">
 INSERT INTO performance(perfCode,workCode,prodCode,lineCode,perfDate,perfEmpId,perfAmount,
                                     perfFair, perfDefect,perfDefectreason,perfDefectmemo,perfMemo,perfStatus)
                                                                                             
 VALUES(#{perfCode},#{workCode},#{prodCode},#{lineCode},#{perfDate},#{perfEmpId},#{perfAmount},
                                     #{perfFair}, COALESCE(#{perfDefect}, 0),#{perfDefectreason},#{perfDefectmemo},#{perfMemo},#{perfStatus})
 </insert>
 
 
 
 <select id="getperflist" resultType="PerformanceDTO">
 select * from performance
   order by perfCode desc
    limit #{startRow}, #{pageSize}
 </select>
 
 <select id="getSearch" resultType="PerformanceDTO">
		select * FROM performance	
		<where>
			<if test="lineCode !=''">
				lineCode like concat ('%', #{lineCode}, '%')
			</if>

			<if test="prodCode !=''">
				and prodCode like concat ('%', #{prodCode}, '%')
			</if>			 
		</where>
		order by perfCode desc
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getSearchcount" resultType="java.lang.Integer">
		SELECT count(#{perfCode})
		FROM performance
		<where>
			<if test="lineCode !=''">
				lineCode like concat ('%', #{lineCode}, '%')
			</if>

			<if test="prodCode !=''">
				and prodCode like concat ('%', #{prodCode}, '%')
			</if>
		</where>
		order by perfCode desc
	</select>
	
	<select id="getperfCount" resultType="java.lang.Integer">
	select count(*) from performance
	</select>
	
	<!--  도넛차트 DB값 가져오기  -->
	<select id="getdonut" resultType="PerformanceDTO" parameterType="java.util.List">
    SELECT 
        lineCode AS lineCode,
        SUM(perfAmount) AS totalAmount,
        SUM(perfFair) AS totalFair,
        SUM(perfDefect) AS totalDefect
    FROM 
        performance
    Where
        lineCode IN 
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    GROUP BY 
        lineCode;
</select>
 
 <select id="getlinelist" resultType="com.itwillbs.domain.LineDTO">
 
 select * from line
 
 </select>
 
 <select id="getprodlist" resultType="com.itwillbs.domain.ProdDTO">
 
SELECT * FROM product
 </select>
 
 <select id="getworklist" resultType="WorkOrderDTO">
 SELECT * FROM workOrder
 </select>
 
 <select id="getdetail" resultType="PerformanceDTO">
 select * from performance where perfCode=#{perfCode}
 
 </select>
 
 <update id="perfupdate">
 update performance set 
 perfFair=#{perfFair}, perfDefect=#{perfDefect}, perfDefectreason=#{perfDefectreason},perfDefectmemo=#{perfDefectmemo},
 perfMemo=#{perfMemo},perfStatus=#{perfStatus}
 where perfCode=#{perfCode}
 </update>
 
 <delete id="perfdelete">
 delete from performance where perfCode=#{perfCode}
 
 </delete>
 
 
 </mapper>