<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.proMapper">


	<insert id="insert">
		insert into product
		values (#{prodCode}, #{prodName}, #{prodUnit},#{prodSize},#{prodPerfume},
		#{clientCode},#{whseCode},#{prodPrice},#{prodMemo})
	</insert>

	<select id="getProdList"
		resultType="com.itwillbs.domain.ProdDTO">
		select prodCode, prodName,
		prodUnit,prodSize,prodPerfume,clientCode,whseCode,prodPrice,prodMemo
		from product
	</select>

	<select id="getSearch" resultType="com.itwillbs.domain.ProdDTO">
    SELECT *
    FROM product
    WHERE
    <choose>
        <when test="prodCode != '' and prodName != '' and clientCode != '거래처'">
            prodCode LIKE CONCAT('%', #{prodCode}, '%') 
            AND prodName LIKE CONCAT('%', #{prodName}, '%') 
            AND clientCode LIKE CONCAT('%', #{clientCode}, '%')
        </when>
        <when test="prodCode != '' and prodName != ''">
            prodCode LIKE CONCAT('%', #{prodCode}, '%') 
            AND prodName LIKE CONCAT('%', #{prodName}, '%')
        </when>
        <when test="prodCode != '' and clientCode != '거래처'">
            prodCode LIKE CONCAT('%', #{prodCode}, '%') 
            AND clientCode LIKE CONCAT('%', #{clientCode}, '%')
        </when>
        <when test="prodName != '' and clientCode != '거래처'">
            prodName LIKE CONCAT('%', #{prodName}, '%') 
            AND clientCode LIKE CONCAT('%', #{clientCode}, '%')
        </when>
        <when test="prodCode != ''">
            prodCode LIKE CONCAT('%', #{prodCode}, '%')
        </when>
        <when test="prodName != ''">
            prodName LIKE CONCAT('%', #{prodName}, '%')
        </when>
        <when test="clientCode != '거래처'">
            clientCode LIKE CONCAT('%', #{clientCode}, '%')
        </when>
        <otherwise>
            1=1
        </otherwise>
    </choose>
</select>



    <delete id="productDelete" parameterType="java.util.List">
    DELETE FROM product
    WHERE prodCode IN
    <foreach collection="list" item="item" open="(" separator="," close=")">
        #{item.code}
    </foreach>
</delete>
    
    
</mapper>



<!-- <select id="getProdSearch" resultType="com.itwillbs.domain.ProdDTO" 
	parameterType="com.itwillbs.domain.ProdDTO"> -->
<!-- select prodCode, prodName, prodUnit,prodSize,prodPerfume,clientCod,whseCode,prodPrice,prodMemo -->
<!-- from product -->
<!-- where 1=1 -->
<!-- <if test="a1 != null and a1 != ''"> -->
<!-- </if> -->
<!-- <if test="a2 != null and a2 != ''"> -->
<!-- </if> -->
<!-- <if test="a3 != null and a3 != ''"> -->
<!-- </if> -->
<!-- </select> -->
	

