<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.proMapper">




	<insert id="insert">
		insert into product
		values (#{prodCode}, #{prodName},
		#{prodUnit},#{prodSize},#{prodPerfume},
		#{clientCode},#{whseCode},#{prodPrice},#{prodMemo})
	</insert>

	<select id="getProdList"
		resultType="com.itwillbs.domain.ProdDTO">
		select p.prodCode,
		p.prodName,p.prodUnit,p.prodSize,p.prodPerfume,
		c.clientCompany,w.whseName,p.prodPrice,p.prodMemo
		from product p
		left
		join clients c
		on c.clientCode = p.clientCode
		left join warehouse w
		on
		p.whseCode = w.whseCode
		
		limit #{startRow}, #{pageSize}
	</select>



	<!-- <select id="getSearch" resultType="com.itwillbs.domain.ProdDTO"> -->
	<!-- SELECT * -->
	<!-- FROM product -->
	<!-- WHERE -->
	<!-- <choose> -->
	<!-- <when test="prodCode != '' and prodName != '' and clientCode != ''"> -->
	<!-- prodCode LIKE CONCAT('%', #{prodCode}, '%') -->
	<!-- AND prodName LIKE CONCAT('%', #{prodName}, '%') -->
	<!-- AND clientCode LIKE CONCAT('%', #{clientCode}, '%') -->
	<!-- </when> -->
	<!-- <when test="prodCode != '' and prodName != ''"> -->
	<!-- prodCode LIKE CONCAT('%', #{prodCode}, '%') -->
	<!-- AND prodName LIKE CONCAT('%', #{prodName}, '%') -->
	<!-- </when> -->
	<!-- <when test="prodCode != '' and clientCode != ''"> -->
	<!-- prodCode LIKE CONCAT('%', #{prodCode}, '%') -->
	<!-- AND clientCode LIKE CONCAT('%', #{clientCode}, '%') -->
	<!-- </when> -->
	<!-- <when test="prodName != '' and clientCode != ''"> -->
	<!-- prodName LIKE CONCAT('%', #{prodName}, '%') -->
	<!-- AND clientCode LIKE CONCAT('%', #{clientCode}, '%') -->
	<!-- </when> -->
	<!-- <when test="prodCode != ''"> -->
	<!-- prodCode LIKE CONCAT('%', #{prodCode}, '%') -->
	<!-- </when> -->
	<!-- <when test="prodName != ''"> -->
	<!-- prodName LIKE CONCAT('%', #{prodName}, '%') -->
	<!-- </when> -->
	<!-- <when test="clientCode != ''"> -->
	<!-- clientCode LIKE CONCAT('%', #{clientCode}, '%') -->
	<!-- </when> -->
	<!-- <otherwise> -->
	<!-- 1=1 -->
	<!-- </otherwise> -->
	<!-- </choose> -->
	<!-- </select> -->

	<select id="getSearch" resultType="com.itwillbs.domain.ProdDTO">
		select p.prodCode, p.prodName,p.prodUnit,p.prodSize,p.prodPerfume,
		c.clientCompany,w.whseName,p.prodPrice,p.prodMemo
		FROM product p
		left
		join clients c
		on c.clientCode = p.clientCode
		left join warehouse w
		on
		p.whseCode = w.whseCode
		
		
		<where>
			<if test="prodCode != ''">
				p.prodCode like concat ('%', #{prodCode}, '%')
			</if>

			<if test="prodName != ''">
				and p.prodName like concat ('%', #{prodName}, '%')
			</if>

			<if test="clientCompany != ''">
				and c.clientCompany = #{clientCompany}
			</if>
		</where>
		<!-- order by 1 desc -->
		limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getSearchcount" resultType="java.lang.Integer">
		select count(p.prodCode)
		FROM product p
		left
		join clients c
		on c.clientCode = p.clientCode
		left join warehouse w
		on
		p.whseCode = w.whseCode
		<where>
			<if test="prodCode != ''">
				p.prodCode like concat ('%', #{prodCode}, '%')
			</if>

			<if test="prodName != ''">
				and p.prodName like concat ('%', #{prodName}, '%')
			</if>

			<if test="clientCompany != ''">
				and c.clientCompany = #{clientCompany}
			</if>
		</where>
		<!-- order by 1 desc -->
		<!-- limit #{start},#{cntPerPage} -->
	</select>

	<!-- 페이징 -->
	<select id="getProdCount" resultType="java.lang.Integer">
		select count(*) from product

	</select>

	<delete id="productDelete">
		DELETE FROM product WHERE prodCode = #{prodCode}


	</delete>

	<select id="getProd" resultType="com.itwillbs.domain.ProdDTO">
		select * from product
		where
		prodCode = #{prodCode}
	</select>

	<update id="updateProd">
		update product
		set
		prodName = #{prodName}, prodUnit = #{prodUnit},
		prodSize = #{prodSize},
		prodPerfume = #{prodPerfume},
		clientCode = #{clientCode}, whseCode =
		#{whseCode},
		prodPrice = #{prodPrice}, prodMemo = #{prodMemo}
		where
		prodCode = #{prodCode}
	</update>
</mapper>



<!-- <select id="getProdSearch" resultType="com.itwillbs.domain.ProdDTO" 
	parameterType="com.itwillbs.domain.ProdDTO"> -->
<!-- select prodCode, prodName, prodUnit,prodSize,prodPerfume,clientCod,whseCode,prodPrice,prodMemo -->
<!-- from product -->
<!-- where 1=1 -->
<!-- <if test="a1 != null and a1 != ''"> -->
<!-- </if> -->
<!-- <if test="a2 != null and a2 != ''"> -->
<!-- </if> -->
<!-- <if test="a3 != null and a3 != ''"> -->
<!-- </if> -->
<!-- </select> -->
	

