<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.RawmaterialsMapper"> 

	<insert id="insertRawmaterials">
		insert into rawMaterial(rawCode,rawName,rawType,rawUnit,rawPrice,clientCode,whseCode,rawMemo)
		values(#{rawCode},#{rawName},#{rawType},#{rawUnit},#{rawPrice},#{clientCode},#{whseCode},#{rawMemo})
	</insert>
	
	<select id="getRawmaterialsList" resultType="com.itwillbs.domain.RawmaterialsDTO">
		select *
		from rawMaterial
	</select>
	
	<select id="getRawmaterialsSearchList" resultType="com.itwillbs.domain.RawmaterialsDTO" parameterType="com.itwillbs.domain.RawmaterialsDTO">
    	select *
    	from rawMaterial
    	where 1=1
   		<if test="rawCode != null and rawCode != ''">
        	and rawCode like concat('%', #{rawCode}, '%')
    	</if>
    	<if test="rawName != null and rawName != ''">
        	and rawName like concat('%', #{rawName}, '%')
    	</if>
   		<if test="rawType != null and rawType != ''">
       		and rawType = #{rawType}
    	</if>
    	<if test="clientCode != null and clientCode != ''">
    		and clientCode like concat('%', #{clientCode}, '%')
    	</if>
	</select>
	
	<!-- 체크박스로 선택삭제 -->
    <delete id="delete">
        delete from rawMaterial
        where rawCode = #{rawCode}
    </delete>
    
    <select id="getDetail" resultType="com.itwillbs.domain.RawmaterialsDTO">
		select *
		from rawMaterial
		where rawCode = #{rawCode}
	</select>
	
	<update id="updateRawmaterials">
		update rawMaterial
		set rawName=#{rawName}, rawType=#{rawType}, rawUnit=#{rawUnit}, rawPrice=#{rawPrice}, clientCode=#{clientCode}, whseCode=#{whseCode}, rawMemo=#{rawMemo}
		where rawCode = #{rawCode}
	</update>
  
</mapper>