<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "com.itwillbs.Mappers.StockMapper">
  
  <select id="getMaxNum" resultType = "java.lang.Integer">
      select max(num) from stock
      where 1=1
  </select>
  
  <insert id="insertBoard">
      insert into stock(stockCount, rawCode, prodCode, whseCode, stockMemo)
      values (#{stockCount}, #{rawCode}, #{prodCode}, #{whseCode}, #{stockMemo})
  </insert>
  
  <select id="getBoardList" resultType="com.itwillbs.domain.StockDTO">
      select * from stock
      where 1=1
      <if test="search1 != null and search1 != ''">
        	and prodCode like concat('%', #{search1}, '%')
    	</if>
    	<if test="search2 != null and search2 != ''">
        	and rawCode like concat('%', #{search2}, '%')
    	</if>
   		<if test="search3 != null and search3 != ''">
       		and whseCode like concat('%', #{search3}, '%')
    	</if>
      limit #{startRow}, #{pageSize}
  </select>
  
  <select id="getBoardCount" resultType="java.lang.Integer">
      select count(*) from stock
    
       <if test="search1 != null and search1 != ''">
        	and prodCode like concat('%', #{search1}, '%')
    	</if>
    	<if test="search2 != null and search2 != ''">
        	and rawCode like concat('%', #{search2}, '%')
    	</if>
   		<if test="search3 != null and search3 != ''">
       		and whseCode like concat('%', #{search3}, '%')
    	</if>
  </select>
  
  <select id="getBoard" resultType="com.itwillbs.domain.StockDTO">
      select * from stock
      where stockNum =#{stockNum}
  </select>
  
  <update id="updateBoard">
      update stock
      set stockCount = #{stockCount}
      where prodCode =#{prodCode}
  </update>
  
  </mapper>