@charset "UTF-8";

body {
	background-color: #f5f6fa;
}

#con {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#con_1, #con_2 {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}
#con_2{
	gap:2%;
}

#con_1>#calendar {
	width: 37%;
}

#chart_1, #chart_2, #chart_3 {
	width: 37%;
}

#pie_chart_size {
	margin : 0 auto;
	width: 70%;
	height: 70%;
}

.flex-container {
    display: flex;
    flex-direction: row; /* 기본값이므로 생략해도 됩니다. */
    justify-content: center;
    text-align: center;
 	gap: 1%;
}


