@charset "UTF-8";

body{
	
	background-color: #f5f6fa;
	margin-left:1%;
	
}


.clientBody{
	display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1.2%;
	
	
}

.toptitle{
	color: black;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    
	
}

.tableform{
	background-color: white;

	
}

.clienttotal{
	width: 1500px;
	display:flex;
	margin-top : 15px;
	box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.cthead{
	
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1570px;
	height:45px;
	font: 500 24px/24px "Inter", sans-serif;
}

.ctcontents{
background-color:#ffffff;
	width:1570px;
	height:45px;
	font: 500 24px/24px "Inter", sans-serif;	
	
}

ct{
	
	background-color:#ffffff;
	width:1570px;
	height:45px;
	font: 500 24px/24px "Inter", sans-serif;
}


.ct {
	border-collapse: collapse;
	border-spacing: 0;
}

.ct .ctth {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	width:800px;
}

.ct .cttg {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	border-color: inherit;	
	text-align: left;
	vertical-align: top;
	text-align: center;
}

hr{
	 background: #adb5bb;
  width: 1000px;
  height: 2px;
  border: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
	
}

.notificlient{
	font-size: 14px;
	
}

.search{
	margin: 10px;
	height: 20px;
	display: flex;
    align-items: center;
    
}

.addbutton {
	    background-color: rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 24px/24px "Inter", sans-serif;
}

