@charset "UTF-8";

body{
	
	background-color: #f5f6fa;
	margin-left:1%;
	
}


.clientBody{
	display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 1.2%;
	
	
}

.toptitle{
	color: black;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    
	
}

.tableform{
	padding:5px;
	padding-bottom:60px;
	

	
}

.clienttotal{
	width: 1500px;
	display:flex;
	margin-top : 15px;
	box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.cthead{
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1570px;
	height:45px;
	font: 500 24px/24px "Inter", sans-serif;
}


.ct .ctnum {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	width: 170px;
}

.ct .ctno{
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	width: 120px;
	
}



.ct {
border: 1px solid rgba(221, 221, 221, 0.78);
    margin: 0 auto;
    color: #000000;
    max-width: 1570px;
    font: 500 18px/18px "Inter", sans-serif;
    text-align: center;
}



.ct .cttg {
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-color: inherit;
    text-align: left;
    text-align: center;
}

hr{
	 background: #adb5bb;
  width: 1700px;
  height: 2px;
  border: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  
	
}

.notificlient{
	font-size: 14px;
	
}

.search{
	height: 40px;
	display: flex;
    align-items: center;
    margin: 25px 0;
    
}

#clientCompany{
	border: 1px solid #adb5bb;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font: 500 18px/18px "Inter", sans-serif;
    padding-left: 10px;
	
}

.addbutton {
	    background-color: rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 24px/24px "Inter", sans-serif;
  
}

#clientType{
	 background-color: rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 24px/24px "Inter", sans-serif;
}

.searchbtn{
	background-color: rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    text-align: center;
    font: 500 24px/24px "Inter", sans-serif;
	
}

.ct tbody tr:nth-child(even) {
	background-color: #f2f2f2; /* 짝수 행의 백그라운드 색상 설정 */
}

.ct tbody tr:nth-child(odd) {
	background-color: #ffffff; /* 홀수 행의 백그라운드 색상 설정 */
}

.page{
	    display: flex;
    flex-direction: row;
    margin: 25px 0;
    justify-content: space-between;
    align-items: center;
	
}
.a{

		margin: 0; /* 목록 항목 간격 제거 */
	padding: 0; /* 목록 항목 내부 간격 제거 */
	background-color: rgba(94, 195, 151, 1);
	border-radius: 5px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 20px;
	cursor: pointer; /* 커서 모양 변경 */
	text-decoration: none; /* 하이퍼링크 스타일 제거 */
	cursor: pointer; /* 커서 모양 변경 */
	color: #fff; /* 원래 텍스트 색상으로 변경 */
}
}
	

