@charset "UTF-8";
@charset "UTF-8";
body {
	background-color: #F5F6FA;
}


h2 {
	display: block; 
	font-size: 30px;
	font-weight: bold;
    text-align: center; 
	margin: 0 0 20px;
}

p {
	font: 500 18px/18px "Inter", sans-serif;
	font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group p {
    flex: 1;
    margin: 0;
}

.form-group input[type="text"] {
    flex: 3;
}
.form-group input[type="number"] {
    flex: 3;
}

#button{
	text-align: center;
}

input[type="text"] {
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 35px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="number"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 35px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

textarea{
	width: 100%;
	resize: none;
	border: 1px solid #adb5bb;
	border-radius: 5px;
	font: 500 15px/15px "Inter", sans-serif;
}

input[type="button"], input[type="submit"]{
background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	width:100px;
	height:40px;
	border-radius:5px;
	color: #FFFFFF;
	border: 0;
	text-align: center;
	font: 500 20px/20px "Inter", sans-serif;
	margin-top: 20px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer; 
}


.container {
    max-width: 600px;
    border: 1px solid rgba(221, 221, 221, 0.78); /* 테두리 설정 */
    padding: 20px;
}
