@charset "UTF-8";

body {
	background-color: #F5F6FA;
}

/* 내용묶기 */
.content {
    max-width: 600px;
    border: 1px solid rgba(221, 221, 221, 0.78); /* 테두리 설정 */
    padding: 20px;
}

/* 상세보기 */
h2 {
	display: block; 
	font-size: 25px;
	font-weight: bold;
    text-align: center; 
	margin: 0 0 20px;
}

/* table */
table {
	border: 1px solid rgba(221, 221, 221, 0.78);
	margin: 0 auto;
	color: #000000;
	max-width: 1570px;
	font: 500 18px/18px "Inter", sans-serif;
	text-align: center;
}

table td {
	font: 500 16px/16px "Inter", sans-serif;
	font-weight: bold;
}

table tr {
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width: 1570px;
	height: 40px;
	font: 500 20px/20px "Inter", sans-serif;
}

/* 여기서부터 수정해야함 */

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group p {
    flex: 1;
    margin-right: 5px;
}

.form-group input[type="text"] {
    flex: 2;
}
.form-group input[type="number"] {
    flex: 2;
}
.form-group input[type="password"] {
    flex: 2;
}
.form-group input[type="email"] {
    flex: 2;
}
.form-group input[type="date"], .form-group select {
    flex: 2;
}

#button{
	text-align: center;
}

input[type="text"] {
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="number"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="password"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="email"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

input[type="date"]{
	border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
/* 	background-color: inherit; */
}

textarea{
	width: 100%;
	resize: none;
	border: 1px solid #adb5bb;
	border-radius: 5px;
	font: 500 15px/15px "Inter", sans-serif;
}

input[type="button"], input[type="submit"], button{
background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	width:100px;
	height:40px;
	border-radius:5px;
	color: #FFFFFF;
	border: 0;
	text-align: center;
	font: 500 20px/20px "Inter", sans-serif;
	margin-top: 20px;
}

input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer; 
}



/* 비고 글자 */
.memo{
	text-align: center;
	margin-bottom: 10px;
}

.select {
    border: 1px solid #adb5bb;
	border-radius: 5px;
	width: 80%;
	height: 33px;
	font: 500 15px/15px "Inter", sans-serif;
	text-align: center;
	margin-bottom: 10px;
}

