@charset "UTF-8";

body{
	background-color: #F5F6FA;
	height: auto;
	}
	
	/* 돋보기 모양 아이콘 스타일 */
.search-icon {
    width: 15px; /* 돋보기의 너비 */
    height: 15px; /* 돋보기의 높이 */
    border: 2px solid #000; /* 돋보기 테두리의 굵기와 색상 */
    border-radius: 50%; /* 돋보기를 둥글게 만듦 */
    position: relative;
    cursor: pointer;
}

/* 돋보기의 손잡이 스타일 */
.search-icon::before {
    content: '';
    width: 3px; /* 손잡이의 너비 */
    height: 8px; /* 손잡이의 높이 */
    background-color: #000; /* 손잡이의 색상 */
    position: absolute;
    top: 11px; /* 돋보기 내부에서의 손잡이 위치 조정 */
    left: 17px; /* 돋보기 내부에서의 손잡이 위치 조정 */
    transform: rotate(135deg); /* 손잡이를 45도로 회전시킴 */
    cursor: pointer;
}
	
.modaldetail {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #000;
	padding: 10px;
	z-index: 1;
}

.modalbutton{
	   background-color: #4CAF50; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border: none; /* 테두리 없음 */
    padding: 10px 20px; /* 내부 여백 */
    font-size: 16px; /* 폰트 크기 */
     /* 커서 타입을 포인터로 변경하여 버튼임을 나타냄 */
    border-radius: 5px;
}

#fr{
	display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    display:flex;
}
.table-wrapper {
    overflow-x: auto; /* 테이블 직접 조절 */
    overflow-y: hidden;
}
.input-row{
	 height:23px;
	 width:99%;
	 border:0;
}
.table-wrapper table {
    width: 100%; /* 테이블 직접 조절 */
    white-space: nowrap; 
    text-align: center;
}

.input-fielda {
    cursor: pointer;
    display: inline-block;
    text-align-last: center;
}
.input-fieldb {
    display: inline-block;
    text-align-last: center;
}
.right_col {
display: flex;
flex-direction: column;
}

hr{
  background: #adb5bb;
  width: 1570px;
  height: 2px;
  border: 0;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

label{
 color: #000000;
  text-align: center;
  font: 500 24px/24px "Inter", sans-serif;
  position: relative;
}

.input_box {
box-sizing: border-box;
 border-radius: 5px;
  position: relative;
  width:300px;
  height:40px;
  border: 1px solid #adb5bb;
  color: #000000;
  text-align: center;
  font: 500 18px/18px "Inter", sans-serif;
  cursor: pointer;
}
.button{
background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	width:100px;
	height:40px;
	border-radius:5px;
	color: #FFFFFF;
	border: 0;
  text-align: center;
  font: 500 24px/24px "Inter", sans-serif;
  text-decoration:none;
  cursor: pointer;
}
.allbutton{
background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	width:204px;
	height:40px;
	border-radius:5px;
	color: #FFFFFF;
	border: 0;
  text-align: center;
  font: 500 24px/24px "Inter", sans-serif;
  text-decoration:none;
  cursor: pointer;
}
.magambutton{
background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	/* width:100px;
	height:40px; */
	border-radius:3px;
	color: #FFFFFF;
	border: 0;
  text-align: center;
  cursor: pointer;
  /* font: 500 24px/24px "Inter", sans-serif; */
  text-decoration:none;
}
fieldset{border: 0;
align-items: center;
}
.x_title{
display: flex;
width:1570px;
box-sizing: border-box;
align-items: center;
justify-content: space-between;

}
.x_total{
margin-left: 1%;
display: flex;
align-items: center;
}
  .page_wrap {
	text-align:center;
	font-size:0;
 }
.page_nation {
	display:inline-block;
	float:right;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:40px;
	height:40px;
	line-height:35px;
	text-align:center;
	
	font-size:24px;
	
	text-decoration:none;
	background-color:rgba(94.0000019967556, 195.0000035762787, 151.00000619888306, 1);
	color:#fff;	
	border-radius:5px;
}
.page_nation a.active {
	background-color:#fff;
	color:#999999;}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url('img/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('img/page_prev.png') no-repeat center center;
	margin-right:7px;
	border-radius:5px;
}
.page_nation .next {
	background:#f8f8f8 url('img/page_next.png') no-repeat center center;
	margin-left:7px;
	border-radius:5px;
}
.page_nation .nnext {
	background:#f8f8f8 url('img/page_nnext.png') no-repeat center center;
	margin-right:0;
}

.headings{
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1570px;
	height:45px;
	font: 500 20px/20px "Inter", sans-serif;
	
}
.contents{
	background-color:#ffffff;
	width:1570px;
	height:40px;
	
	font: 500 18px/18px "Inter", sans-serif;
}


table.jambo_table {
  border: 1px solid rgba(221, 221, 221, 0.78); }

table.jambo_table thead {
  background: rgba(52, 73, 94, 0.94);
  color: #000000; }

table.jambo_table tbody tr:hover td {
  background: rgba(38, 185, 154, 0.07);
}

table.jambo_table tbody tr.selected {
  background: rgba(38, 185, 154, 0.16); }

/* .active-selected {
    color: black; 텍스트 색상
    background-color: #007bff; 배경 색상
    다른 스타일 속성들을 여기에 추가할 수 있습니다.
} */
